@import "tailwindcss";
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 
@theme {
  --color-primary: #1c873b;
  --color-primary-dark: #000d8a;
  --color-black: 15, 18, 25;
  --color-gray: 96, 115, 159;
  --color-gray-light: 229, 233, 240;
  --color-gray-dark: 34, 41, 57;
  --color-gray-gradient: rgba(229, 233, 240, 0.5), #fff;
  --shadow-base: 0 2px 6px rgba(96, 115, 159, 0.25), 0 8px 24px rgba(96, 115, 159, 0.33), 0 16px 32px
    rgba(96, 115, 159, 0.33);
}

body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--color-gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--color-gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

.heading {
  background: linear-gradient(98.96deg, #391E2F 7.25%, #6767b6 90.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  @apply max-w-4xl mx-auto py-10 px-2;
}

a, a:hover {
  color: var(--color-primary);
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--color-gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--color-primary);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--color-gray-light));
}
