@import "tailwindcss";
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 
@theme {
  --color-primary: #1c873b;
  --color-primary-dark: #000d8a;
  --color-black: 15, 18, 25;
  --color-gray: 96, 115, 159;
  --color-gray-light: 229, 233, 240;
  --color-gray-dark: 34, 41, 57;
  --color-gray-gradient: rgba(229, 233, 240, 0.5), #fff;
  --shadow-base: 0 2px 6px rgba(96, 115, 159, 0.25), 0 8px 24px rgba(96, 115, 159, 0.33), 0 16px 32px rgba(96, 115, 159, 0.33);
  
  /* Theme colors */
  --color-subheading: #504E4E;
  --color-social: #79819A;
  --color-socialText: #47516B;
  --color-socialIcon: #E2E6EE;
  --color-footerText: #21243D;

  /* Badges */
  --color-lightBlue: #F0FAFF;
  --color-lightBlueText: #0075AD;
  --color-lightBlueStroke: #ADE4FF;

  --color-lightGreen: #EEFBF4;
  --color-lightGreenText: #17663A;
  --color-lightGreenStroke: #B2EECC;

  --color-lightRed: #FEF0F4;
  --color-lightRedText: #D50B3E;
  --color-lightRedStroke: #D50B3E;

  --color-lightGray: #F7F7F8;
  --color-lightGrayText: #3F3F50;
  --color-lightGrayStroke: #8A8AA3;

  --color-lightYellow: #FFF9EB;
  --color-lightYellowText: #8A6100;
  --color-lightYellowStroke: #C28800;

  --color-lightOrange: #FFF2EE;
  --color-lightOrangeText: #B82E00;
  --color-lightOrangeStroke: #EB3A00;

  --color-lightPurple: #F4F1FD;
  --color-lightPurpleText: #4316CA;
  --color-lightPurpleStroke: #7047EB;

  --color-lightPink: #FEECFB;
  --color-lightPinkText: #A5088C;
  --color-lightPinkStroke: #A5088C;

  --color-lightTeal: #719C9A;
  --color-lightTealText: #43605e;
  --color-lightTealStroke: #719C9A;
}

body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--color-gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--color-gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

.heading {
  background: linear-gradient(98.96deg, #391E2F 7.25%, #6767b6 90.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  @apply max-w-6xl mx-auto py-10 px-4 md:px-2;
}

.milestone {
  @apply pl-16 relative text-subheading;
  &::before {
    content: '';
    @apply absolute w-1.5 h-1.5 bg-[#C4C4C4] rounded-full top-1/2 transform -translate-y-1/2 left-5;
  }
}

.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--color-gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--color-primary);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--color-gray-light));
}
