---
import Banner from '@/components/Banner.astro';
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/Intro.astro';
import Experience from '@/components/Experience.astro';
---

<Layout>
  <main>
    <Banner />
    <article>
      <Intro />
      <Experience />
    </article>
  </main>
</Layout>

<style>
  article {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2rem;
  }
</style>
