---
import Banner from '@/components/Banner.astro';
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/Intro.astro';
import Experience from '@/components/Experience.astro';
import Skills from '@/components/Skills.astro';
import AdditionalSkills from '@/components/AdditionalSkills.astro';
import Languages from '@/components/Languages.astro';
---

<Layout>
  <main>
    <Banner />
    <article class="space-y-6 pt-4 pb-4">
      <Intro />
      <Experience />
      <Skills />
      <AdditionalSkills />
      <Languages />
    </article>
  </main>
</Layout>

<style>
  article {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2rem;
  }
</style>
