---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  icon: string;
  href?: string;
}

const { href = '#', icon, ...props } = Astro.props;
---
<div {...props}>
  <summary>
    <h5><slot name="content" /></h5>
  </summary>
  <img src={icon} alt="Project icon">
  <a href={href} target="_blank" rel="noopener noreferrer">
    <span class="sr-only">View Website</span>
  </a>
</div>

<style>
  div {
    background: #F4F0F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    position: relative;

    &:hover {
      background: #F9F7F9;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

      img {
        transform: scale(1.1) rotate(3deg);
      }
    }
  }

  a {
    position: absolute;
    inset: 0;
    z-index: 99;
  }

  summary {
    list-style: none;
    flex: 1;
  }

  h5 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  img {
    display: block;
    width: 10rem;
    height: auto;
    transition: all 0.2s ease-out;
  }
</style>