---
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedInIcon from "@/icons/LinkedInIcon.astro";
import TwitterIcon from "@/icons/TwitterIcon.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Dipankar Jana. All rights reserved.
  <div class="social-links">
    <a href="https://www.linkedin.com/in/iamdipankarj/" target="_blank">
      <span class="sr-only">Follow Dipankar Jana on LinkedIn</span>
      <LinkedInIcon />
    </a>
    <a href="https://twitter.com/iamdipankarj" target="_blank">
      <span class="sr-only">Follow Dipankar Jana on Twitter</span>
      <TwitterIcon />
    </a>
    <a href="https://github.com/iamdipankarj" target="_blank">
      <span class="sr-only">Go to Dipankar Jana's GitHub repo</span>
      <GithubIcon />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background: linear-gradient(var(--color-gray-gradient)) no-repeat;
    color: rgb(var(--color-gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

    a {
      text-decoration: none;
      color: rgb(var(--color-gray));

      &:hover {
        color: rgb(var(--color-gray-dark));
      }
    }
  }
</style>
