---
import type { ImageMetadata } from 'astro';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';

interface Props extends HTMLAttributes<'article'> {
  companyLogo: ImageMetadata;
  companyName: string
  position: string
  duration: string
}

const {
  companyLogo,
  companyName,
  position,
  duration,
  ...props
} = Astro.props;
---

<article {...props}>
  <div class="flex items-center">
    <div class="w-16 shrink-0">
      <Image width={180} height={180} src={companyLogo} class="block w-12 h-12" alt={companyName} />
    </div>
    <div class="flex flex-col flex-1">
      <h4 class="font-semibold text-lg tracking-wide">{position}</h4>
      <p class="text-subheading text-md">{duration}</p>
    </div>
  </div>
  <ul class="space-y-1 mt-4">
    <slot />
  </ul>
</article>
