---
const tools = [
  'Git',
  'Figma',
  'Adobe Photoshop',
  'Unity 3D',
  'Blender',
  'Github Actions',
  'Bitbucket Pipeline',
  'PHP Storm'
]
---

<div>
  <h4 class="font-semibold text-lg tracking-wide mb-4">Tools</h4>
  <p class="text-subheading text-base">{tools.join(' / ')}</p>
</div>
